@tailwind base;
@tailwind components;
@tailwind utilities;
 /* Add this to your global CSS file or inside a <style> tag in your component */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  